.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0rem 9rem 2.5rem 9rem;
}

.secondary-button {
    padding: 1rem 6rem;
}

@media screen and (max-width: 767px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 1.8rem 2.5rem 1.8rem;
    }
}